<%- include("./partials/head.ejs") %>
    <link href="/stylesheets/crearProducto.css" rel="stylesheet" />
    <title>Sportal - Portal para Guerreros Urbanos - Creación de Productos</title>
</head>

<body>
    <header>
        <div class="header-bar">
          <div class="header-circle"><a href="/" ><span class="circle-link"></span></a></div>
            <div class="header-title"><h3>Creación de Productos</h3></div>
        </div>
    </header>
    <main>
        <div class="form-abm">
            <form action="/productos/crear" method="POST" enctype="multipart/form-data">

              <div class="spacer"></div>

              <div class="step-down">
                <label class="labels label-codigo" for="code">Código de Producto</label>
                <input class="inputs input-codigo" type="text" name="code" id="code" value="<%= prodList.code %>">
                <label class="errmsg"><%= ((errors.code) ? errors.code.msg : "") %></label>
              </div>
              
              <div class="step-aside">
                <div class="step-down-half">
                  <label class="labels label-marca" for="marca">Marca</label>
                  <select class="selects marca-options" name="brand" id="marca">
                    <option value="" selected>Seleccione una opción</option>
                    <% for (let i = 0 ; i < brands.length ; i++) { %>
                      <option value="<%= brands[i].id %>" <%= (prodList.brand_id == brands[i].id) ? "selected" : "" %>><%= brands[i].desc %></option>
                    <% } %>
                  </select>
                  <div class="errmsg"><%= ((errors.brand) ? errors.brand.msg : "") %></div>
                </div>

                <div class="step-down-half">
                  <label class="labels label-rubro" for="marca">Rubro</label>
                  <select class="selects rubro-options" name="heading" id="rubro">
                    <option value="" selected>Seleccione una opción</option>
                    <% for (let i = 0 ; i < headings.length ; i++) { %>
                      <option value="<%= headings[i].id %>" <%= (prodList.heading_id == headings[i].id) ? "selected" : "" %>><%= headings[i].desc %></option>
                    <% } %>
                  </select>
                  <div class="errmsg"><%= ((errors.heading) ? errors.heading.msg : "") %></div>
                </div>
              </div>
              
              <div class="step-aside">
                <div class="step-down-half">
                  <label class="labels label-modelo" for="modelo">Modelo</label>
                  <input class="inputs input-modelo" type="text" name="model" id="modelo" value="<%= prodList.model %>">
                  <div class="errmsg"><%= ((errors.model) ? errors.model.msg : "") %></div>
                </div>

                <div class="step-down-half">
                  <label class="labels label-familia" for="familia">Familia de Producto</label>
                  <select class="selects family-options" name="family" id="familia">
                    <option value="" selected>Seleccione una opción</option>
                    <% for (let i = 0 ; i < families.length ; i++) { %>
                      <option value="<%= families[i].id %>" <%= (prodList.family_id == families[i].id) ? "selected" : "" %>><%= families[i].desc %></option>
                    <% } %>
                  </select>
                  <label class="errmsg"><%= ((errors.family) ? errors.family.msg : "") %></label>

                </div>
              </div>

              <div class="step-down-desc">
                <label class="labels label-desc" for="descripcion">Descripción</label>
                <textarea class="inputs input-desc" type="text" name="desc" id="desc"><%= prodList.desc %></textarea>
                <div class="errmsg"><%= ((errors.desc) ? errors.desc.msg : "") %></div>
              </div>

              <div class="step-aside">
                <div class="step-down-half">
                  <label class="labels label-precio" for="precio">Precio</label>
                  <input class="inputs input-precio" type="number" name="price" id="precio" value="<%= prodList.price %>">
                  <div class="errmsg"><%= ((errors.price) ? errors.price.msg : "") %></div>
                </div>

                <div class="step-down-half">
                  <label class="labels label-edad" for="edad">Edad</label>
                  <select class="selects edad-options" name="age">
                    <option value="" selected>Seleccione una opción</option>
                    <% for (let i = 0 ; i < ages.length ; i++) { %>
                      <option value="<%= ages[i].id %>" <%= (prodList.age_id == ages[i].id) ? "selected" : "" %>><%= ages[i].desc %></option>
                    <% } %>
                  </select>
                  <div class="errmsg"><%= ((errors.age) ? errors.age.msg : "") %></div>
                </div>
              </div>

              <div class="step-aside">
                <div class="step-down-half">
                  <label class="labels label-sexo" for="sexo">Sexo</label>
                  <select class="selects sexo-options" name="sex">
                    <option value="" selected>Seleccione una opción</option>
                    <% for (let i = 0 ; i < sex.length ; i++) { %>
                      <option value="<%= sex[i].id %>" <%= (prodList.sex_id == sex[i].id) ? "selected" : "" %>><%= sex[i].desc %></option>
                    <% } %>
                  </select>
                  <div class="errmsg"><%= ((errors.sex) ? errors.sex.msg : "") %></div>
                </div>

                <div class="step-down-half">
                  <label class="labels label-color" for="color">Color</label>
                  <select class="selects color-options" name="color">
                    <option value="" selected>Seleccione una opción</option>
                    <% for (let i = 0 ; i < colors.length ; i++) { %>
                      <option value="<%= colors[i].id %>" <%= (prodList.color_id == colors[i].id) ? "selected" : "" %>><%= colors[i].desc %></option>
                    <% } %>
                  </select>
                  <div class="errmsg"><%= ((errors.color) ? errors.color.msg : "") %></div>
                </div>
              </div>

              <div class="images">
                <div class="step-down">
                  <label class="labels label-image" for="image">Archivo de Imagen Principal<%= " (" + ((prodList.image) ? prodList.image : misc.defaultImage) + ")" %></label>
                  <input class="inputs input-image" type="file" name="image" id="image" accept="<%= misc.imageExt %>">
                  <div class="errmsg"><%= ((errors.image) ? errors.image.msg : "") %></div>
                </div>

                <div class="step-down">
                  <label class="labels label-image1" for="image1">Archivo de Imagen Lateral Izquierda<%= " (" + ((prodList.leftImage) ? prodList.leftImage : misc.defaultImage) + ")" %></label>
                  <input class="inputs input-image1" type="file" name="leftImage" id="image1" accept="<%= misc.imageExt %>">
                  <div class="errmsg"><%= ((errors.leftImage) ? errors.leftImage.msg : "") %></div>
                </div>

                <div class="step-down">
                  <label class="labels label-image2" for="image2">Archivo de Imagen Lateral Derecha<%= " (" + ((prodList.rightImage) ? prodList.rightImage : misc.defaultImage) + ")" %></label>
                  <input class="inputs input-image2" type="file" name="rightImage" id="image2" accept="<%= misc.imageExt %>">
                  <div class="errmsg"><%= ((errors.rightImage) ? errors.rightImage.msg : "") %></div>
                </div>

                <div class="step-down">
                  <label class="labels label-image3" for="image3">Archivo de Imagen Superior<%= " (" + ((prodList.upperImage) ? prodList.upperImage : misc.defaultImage) + ")" %></label>
                  <input class="inputs input-image3" type="file" name="upperImage" id="image3" accept="<%= misc.imageExt %>">
                  <div class="errmsg"><%= ((errors.upperImage) ? errors.upperImage.msg : "") %></div>
                </div>

                <div class="step-down">
                  <label class="labels label-image4" for="image4">Archivo de Imagen Inferior<%= " (" + ((prodList.lowerImage) ? prodList.lowerImage : misc.defaultImage) + ")" %></label>
                  <input class="inputs input-image4" type="file" name="lowerImage" id="image4" accept="<%= misc.imageExt %>">
                  <div class="errmsg"><%= ((errors.lowerImage) ? errors.lowerImage.msg : "") %></div>
                </div>
              </div>

              <div class="buttons">
                <button class="accept-button" type="submit">ACEPTAR</button>
                <button class="cancel-button" type="reset">CANCELAR</button>
              </div>
            </form>
        </div>
    </main>
</body>

</html>