    <%- include("./partials/head.ejs") %>
    <link href="./stylesheets/register.css" rel="stylesheet" />
    <title>Sportal - Portal para Guerreros Urbanos</title>
</head>
<body>
    <header>
        <div class="back-template">
            <div class="header-bar">
                <div class="header-circle"></div>
                <div class="header-title"><h3>Registrá tu cuenta</h3></div>
            </div>
        </div>
    </header>
    <main>
        <div class="form-register">
            <form action="/register" method="POST" enctype="multipart/form-data">
                <div class="form-register-check-top">
                    <div class="form-register-check-bar-user">
                        <label for="usuario">e-mail<input class="input-register" id="<%= locals.errors && errors.usuario ? 'invalid' : 'null' %>" value="<%= locals.oldData ? oldData.usuario : null %>" type="text" name="usuario" id="usuario"></label>
                        <% if (locals.errors && errors.usuario) { %>
                            <div class="error-text">
                                <%= errors.usuario.msg %>
                            </div>
                        <% } %>
                    </div>
                </div>
                
                <div class="form-register-check-divided">
                    <div class="form-register-check">
                        <div class="form-register-check-bar-top">
                            <label for="password">Contraseña<input class="input-register" id="<%= locals.errors && errors.password ? 'invalid' : 'null' %>" type="password" name="password" id="password"></label>
                            <% if (locals.errors && errors.password) { %>
                                <div class="error-text">
                                    <%= errors.password.msg %>
                                </div>
                            <% } %>
                        </div>
                    </div>
                    <div class="form-register-check">
                        <div class="form-register-check-bar">
                            <label for="checkPassword">Repetir contraseña<input class="input-register" id="<%= locals.errors && errors.checkPassword ? 'invalid' : 'null' %>" type="password" name="checkPassword" id="checkPassword"></label>
                            <% if (locals.errors && errors.checkPassword) { %>
                                <div class="error-text">
                                    <%= errors.checkPassword.msg %>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
                
                <div class="pass-advice">
                    <p>Mayúsculas, minúsculas, un número y al menos un símbolo</p>
                </div>
                
                <div class="form-register-check-divided">
                    <div class="form-register-check">
                        <div class="form-register-check-bar-top">
                            <label for="nombre">Nombre<input class="input-register" id="<%= locals.errors && errors.nombre ? 'invalid' : 'null' %>" value="<%= locals.oldData ? oldData.nombre : null %>" type="text" name="nombre" id="nombre"></label>
                            <% if (locals.errors && errors.nombre) { %>
                                <div class="error-text">
                                    <%= errors.nombre.msg %>
                                </div>
                            <% } %>
                        </div>
                    </div>
                    <div class="form-register-check">
                        <div class="form-register-check-bar">
                            <label for="apellido">Apellido<input class="input-register" id="<%= locals.errors && errors.apellido ? 'invalid' : 'null' %>" value="<%= locals.oldData ? oldData.apellido : null %>" type="text" name="apellido" id="apellido"></label>
                            <% if (locals.errors && errors.apellido) { %>
                                <div class="error-text">
                                    <%= errors.apellido.msg %>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
                
                <div class="form-register-check-divided">
                    <div class="form-register-check">
                        <div class="form-register-check-bar-top">
                            <label for="dni">DNI<input class="input-register" id="<%= locals.errors && errors.dni ? 'invalid' : 'null' %>" value="<%= locals.oldData ? oldData.dni : null %>" type="number" name="dni" id="dni"></label>
                            <% if (locals.errors && errors.dni) { %>
                                <div class="error-text">
                                    <%= errors.dni.msg %>
                                </div>
                            <% } %>
                        </div>
                    </div>
                    <div class="form-register-check">
                        <div class="form-register-check-bar">
                            <label for="celular">Celular<input class="input-register" id="<%= locals.errors && errors.celular ? 'invalid' : 'null' %>" value="<%= locals.oldData ? oldData.celular : null %>" type="number" name="celular" id="celular"></label>
                            <% if (locals.errors && errors.celular) { %>
                                <div class="error-text">
                                    <%= errors.celular.msg %>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>

                <div class="form-register-check-divided">
                    <div class="form-register-check">
                        <div class="form-register-check-bar-top">
                            <label for="direccion">Dirección de Envío<input class="input-register" id="<%= locals.errors && errors.direccion ? 'invalid' : 'null' %>" value="<%= locals.oldData ? oldData.direccion : null %>" type="text" name="direccion" id="direccion"></label>
                            <% if (locals.errors && errors.direccion) { %>
                                <div class="error-text">
                                    <%= errors.direccion.msg %>
                                </div>
                            <% } %>
                        </div>
                    </div>
                    <div class="form-register-check">
                        <div class="form-register-check-bar">
                            <label for="cp">Código postal<input class="input-register" id="<%= locals.errors && errors.cp ? 'invalid' : 'null' %>" value="<%= locals.oldData ? oldData.cp : null %>" type="number" name="cp" id="cp"></label>
                            <% if (locals.errors && errors.cp) { %>
                                <div class="error-text">
                                    <%= errors.cp.msg %>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>

                <div class="form-register-check-loc">
                    <div class="form-register-check-bar-top">
                        <label for="localidad">Localidad<input class="input-register" id="<%= locals.errors && errors.localidad ? 'invalid' : 'null' %>" value="<%= locals.oldData ? oldData.localidad : null %>" type="text" name="localidad" id="localidad"></label>
                        <% if (locals.errors && errors.localidad) { %>
                            <div class="error-text">
                                <%= errors.localidad.msg %>
                            </div>
                        <% } %>
                    </div>
                </div>

                <div class="form-register-check-loc">
                    <div class="form-register-check-bar-top">
                        <label for="avatar">Foto de perfil<%= (locals.oldData && oldData.avatar ? " (" + oldData.avatar.originalname + ")" : ' ')%>
                            <input class="input-register" id="<%= locals.errors && errors.avatar ? 'invalid' : 'null' %>" type="file" value="<%= locals.oldFile ? oldFile.originalname : null %>" name="avatar" id="avatar" accept="<%= misc.imageExt %>"></label>
                        <% if (locals.errors && errors.avatar) { %>
                            <div class="error-text">
                                <%= errors.avatar.msg %>
                            </div>
                        <% } %>
                    </div>
                </div>

                <div class="login-to-register">
                    <i class="fas fa-info-circle"></i>
                    <label>Acepto los término y condiciones y las políticas de privacidad</label>
                    <button class="register-button" type="submit">REGISTRATE</button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>