<!-- Bitacora
06/09/2021 - Se parametrizan paths a las imagenes mediante la variable 'misc'.
17/09/2021 - Se parametriza el nombre de la imagen por defecto.
-->
<div class="product">
  <% for (let i = 0 ; i < products.length ; i++) {%>
    <a href="/productos/editar/<%= products[i].id %>">
      <img class="image" src="<%= misc.pathImages %><%= (products[i].image) ? products[i].image : misc.defaultImage %>">
    </a>
    <div class="prod-data">
      <div class="row">
        <div class="id-prod">Código:</div>
        <div class="id-prod-value"><%= products[i].id %></div>
      </div>
      <div class="row">
        <div class="marca">Marca:</div>
        <div class="marca-value"><%= products[i].brand %></div>
      </div>
      <div class="row">
        <div class="rubro">Rubro:</div>
        <div class="rubro-value"><%= products[i].heading %></div>
      </div>
      <div class="row">
        <div class="modelo">Modelo:</div>
        <div class="modelo-value"><%= products[i].model %></div>
      </div>
      <div class="row">
        <div class="descripcion">Descripción:</div>
        <div class="descripcion-value"><%= products[i].desc %></div>
      </div>
    </div>
  <% } %>
</div>