<main id='main'>
    <div class='product-items'>
        <div class="product-images">
        <div class="product-image-angles">
            <!--<img class="image" src="images/sport/run-update-2021-500x356-2.webp">-->
            <img class="image" src="<%= misc.pathImages %><%= (producto.leftImage) ? producto.leftImage : misc.defaultImage %>">
            <!--<img class="image" src="images/sport/run-update-2021-500x356-2.webp">-->
            <img class="image" src="<%= misc.pathImages %><%= (producto.rightImage) ? producto.rightImage : misc.defaultImage %>">
            <!--<img class="image" src="images/sport/run-update-2021-500x356-2.webp">-->
            <img class="image" src="<%= misc.pathImages %><%= (producto.upperImage) ? producto.upperImage : misc.defaultImage %>">
            <!--<img class="image" src="images/sport/run-update-2021-500x356-2.webp">-->
            <img class="image" src="<%= misc.pathImages %><%= (producto.lowerImage) ? producto.leftImage : misc.defaultImage %>">
        </div> 
        <div class='principal-image'>
            <!--<img class="image" src="images/sport/run-update-2021-500x356-2.webp">-->
            <img class="image" src="<%= misc.pathImages %><%= (producto.image) ? producto.image : misc.defaultImage %>">
        </div>
        </div>
        <div class='product-description'>
            <div class='desc-title'>
                <!--<img src="/images/logos/logoadidas.png">-->
                <img src="<%= misc.pathImages %><%= (producto.icon) ? producto.icon : misc.defaultImage %>">
                <!--<h3>Nombre producto</h3>-->
                <h3><%= producto.model %></h3>
                <!--<div class="product-desc-price">$8000</div>-->
                <div class="product-desc-price">$<%= producto.price %></div>
            </div>
            <!--<div class="description-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia placeat exercitationem aliquid deleniti ut 
                nisi dolorum dicta ea maiores dolorem error reiciendis accusamus inventore fugiat architecto suscipit vero, 
                porro aperiam?
            </div>-->
            <div class="description-text"><%= producto.desc %></div>
            <form action="/#" method="GET" class="description-options">
                <div>
                    <label class="option-title" for="sexo">Sexo</label>
                    <input type="radio" name="sexo" id="sexo" value="M"><label for="sexo"> M</label>
                    <input type="radio" name="sexo" id="sexo" value='F'><label for="sexo"> F</label>
                </div>&nbsp;&nbsp;
                <div>
                    <label class="option-title" for='edad'>Edad</label>
                    <input type="radio" name="edad" id="edad" value="adulto"><label for="edad"> Adulto</label>
                    <input type="radio" name="edad" id="edad" value="niño"><label for="edad"> Niño</label>
                </div>
                <div>
                    <label class="option-title" for="color">Color</label>
                    <input type="radio" name="color" id="color" value="rojo"><label for="color"> Rojo</label>
                    <input type="radio" name="color" id="color" value="azul"><label for="color"> Azul</label>
                    <input type="radio" name="color" id="color" value="amarillo"><label for="color"> Amarillo</label>
                    <input type="radio" name="color" id="color" value="verde"><label for="color"> Verde</label>
                </div>
            </form>
            <div class='description-bottom'>
                <div class="desc-socials">
                    <i class="far fa-heart"></i>
                    <i class="fas fa-share-alt"></i>
                </div>
                <div class="desc-button">
                    <input type="number" min='1' max="30" value="1">
                    <a href="/carrito"><i class="fas fa-check-circle"></i></a>
                </div>
            </div>
        </div>
        <div class='similar-products'>
            <h3>Otros productos similares</h3>
            <div class='similar-products-1line'>
                <div class="image-left">
                    <!--img src="images/sport/run-update-2021-500x356-2.webp">-->
                    <a href="/producto/<%= others[0].id %>">
                        <img src="<%= misc.pathImages %><%= (others[0].image) ? others[0].image : misc.defaultImage %>">
                    </a>
                </div>
                <div>
                    <!--<img src="images/sport/run-update-2021-500x356-2.webp">-->
                    <a href="/producto/<%= others[1].id %>">
                        <img src="<%= misc.pathImages %><%= (others[1].image) ? others[1].image : misc.defaultImage %>">
                    </a>
                </div>
            </div>
            <div class='similar-products-2line'>
                <div class="image-left">
                    <!--<img src="images/sport/run-update-2021-500x356-2.webp">-->
                    <a href="/producto/<%= others[2].id %>">
                        <img src="<%= misc.pathImages %><%= (others[2].image) ? others[2].image : misc.defaultImage %>">
                    </a>
                </div>
                <div>
                    <!--<img src="images/sport/run-update-2021-500x356-2.webp">-->
                    <a href="/producto/<%= others[3].id %>">
                        <img src="<%= misc.pathImages %><%= (others[3].image) ? others[3].image : misc.defaultImage %>">
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>