<main id='main'>
    <div class='product-items'>
        <div class="product-images">
        <div class="product-image-angles">
            <img class="image" src="<%= misc.pathImages %><%= (producto.left_image) ? producto.left_image : misc.defaultImage %>">
            <img class="image" src="<%= misc.pathImages %><%= (producto.right_image) ? producto.right_image : misc.defaultImage %>">
            <img class="image" src="<%= misc.pathImages %><%= (producto.upper_image) ? producto.upper_image : misc.defaultImage %>">
            <img class="image" src="<%= misc.pathImages %><%= (producto.lower_image) ? producto.left_image : misc.defaultImage %>">
        </div> 
        <div class='principal-image'>
            <img class="image" src="<%= misc.pathImages %><%= (producto.image) ? producto.image : misc.defaultImage %>">
        </div>
        </div>
        <div class='product-description'>
            <div class='desc-title'>
                <img src="<%= misc.pathLogos %><%= (producto.brands.icon) ? producto.brands.icon : misc.defaultImage %>">
                <h3><%= producto.model %></h3>
                <div class="product-desc-price">$<%= producto.price %></div>
            </div>
            <div class="description-text"><%= producto.desc %></div>
            <form action="/#" method="GET" class="description-options">
                <div>
                    <label class="option-title" for="sexo">Sexo</label>
                    <input type="radio" name="sexo" id="sexo" value="M"><label for="sexo"> M</label>
                    <input type="radio" name="sexo" id="sexo" value='F'><label for="sexo"> F</label>
                </div>
                <div>
                    <label class="option-title" for='edad'>Edad</label>
                    <input type="radio" name="edad" id="edad" value="adulto"><label for="edad"> Adulto</label>
                    <input type="radio" name="edad" id="edad" value="niño"><label for="edad"> Niño</label>
                </div>
                <div>
                    <label class="option-title" for="color">Color</label>
                    <input type="radio" name="color" id="color" value="rojo"><label for="color"> Rojo</label>
                    <input type="radio" name="color" id="color" value="azul"><label for="color"> Azul</label>
                    <input type="radio" name="color" id="color" value="amarillo"><label for="color"> Amarillo</label>
                    <input type="radio" name="color" id="color" value="verde"><label for="color"> Verde</label>
                </div>
            </form>
            <div class='description-bottom'>
                <div class="desc-socials">
                    <i class="far fa-heart"></i>
                    <i class="fas fa-share-alt"></i>
                </div>
                <div class="desc-button">
                    <input type="number" min='1' max="30" value="1">
                    <a href="/carrito"><i class="fas fa-check-circle"></i></a>
                </div>
            </div>
        </div>
        <div class='similar-products'>
            <h3>Otros productos similares</h3>
            <div class='similar-products-1line'>
                <div class="image-left">
                    <% if (others[0]) { %>
                        <a href="/productos/detail/<%= others[0].id %>">
                            <img src="<%= misc.pathImages %><%= (others[0].image) ? others[0].image : misc.defaultImage %>">
                        </a>
                    <% } %>
                </div>
                <div>
                    <% if (others[1]) { %>
                        <a href="/productos/detail/<%= others[1].id %>">
                            <img src="<%= misc.pathImages %><%= (others[1].image) ? others[1].image : misc.defaultImage %>">
                        </a>
                    <% } %>
                </div>
            </div>
            <div class='similar-products-2line'>
                <div class="image-left">
                    <% if (others[2]) { %>
                        <a href="/productos/detail/<%= others[2].id %>">
                            <img src="<%= misc.pathImages %><%= (others[2].image) ? others[2].image : misc.defaultImage %>">
                        </a>
                    <% } %>
                </div>
                <div>
                    <% if (others[3]) { %>
                        <a href="/productos/detail/<%= others[3].id %>">
                            <img src="<%= misc.pathImages %><%= (others[3].image) ? others[3].image : misc.defaultImage %>">
                        </a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</main>